*{
    margin:auto;
    padding:auto;
    box-sizing: border-box;
}
center{
    padding:50px;
}
.display{
    width: fit-content;
    border :2px solid red;
    

}
.ss{
    color:red;
    margin-top :10px;
}

input{
    min-width: 50px;
    border:none;
    padding:10px;
    outline: none;
    background-color: aqua;
}